    <hr>
      <div>
        <br /> CST336 Internet Programming. 2020&copy; Krepelka <br />
        <strong>Disclaimer:</strong> For academic purposes only.<br>
        The information in this page might be inaccurate.<br>
        Source of information: <a href="https://www.space.com/16080-solar-system-planets.html"> Space.com article by Robert Roy Britt </a>
      </div>
  
      <img  src="img/CSUMB_Logo.png" alt="CSUMB Logo" />
      </div>
    </body>
</html>