<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/mercury">Mercury</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/venus">Venus</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/earth">Earth</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/mars">Mars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/jupiter">Jupiter</a>
  </li>
</ul>
<br>