<%- include('partials/header.ejs') %>
    <h1> Earth </h1>
    <%- include('partials/nav.ejs') %>
    <img src="/img/earth.jpg" alt="The planet earth"/><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                The third planet from the sun, Earth is a waterworld, with two-thirds of the planet covered by ocean. It's the only world known
                to harbor life. Earth's atmosphere is rich in nitrogen and oxygen. Earth's surface rotates about its axis at 1,532 feet per
                second (467 meters per second) — slightly more than 1,000 mph (1,600 kph) — at the equator. The planet zips around the sun at 
                more than 18 miles per second (29 km per second)
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-8">
                Name originates from "Die Erde," the German word for "the ground."<br>
                Diameter: 7,926 miles (12,760 km)<br>
                Orbit: 365.24 days<br>
                Day: 23 hours, 56 minutes<br>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>