<%- include('partials/header.ejs') %>
    <h1> Mars </h1>
    <%- include('partials/nav.ejs') %>
    <img src="/img/mars.jpg" alt="The planet mars"/><br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                The fourth planet from the sun is Mars, and it's a cold, desert-like place covered in dust. This dust is made of iron oxides,
                giving the planet its iconic red hue. Mars shares similarities with Earth: It is rocky, has mountains, valleys and canyons,
                and storm systems ranging from localized tornado-like dust devils to planet-engulfing dust storms. 
            </div>
        </div>
        <br> <br>
        <div class="row justify-content-center">
            <div class="col-8">
                Substantial scientific evidence suggests that Mars at one point billions of years ago was a much warmer, wetter world. 
                Rivers and maybe even oceans existed. Although Mars' atmosphere is too thin for liquid water to exist on the surface for any 
                length of time, remnants of that wetter Mars still exist today. Sheets of water ice the size of California lie beneath Mars' 
                surface, and at both poles are ice caps made in part of frozen water. In July 2018, scientists revealed that they had found 
                evidence of a liquid lake beneath the surface of the southern pole's ice cap. It's the first example of a persistent body of 
                water on the Red Planet. 
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-8">
                Scientists also think ancient Mars would have had the conditions to support life like bacteria and other microbes. Hope that 
                signs of this past life — and the possibility of even current lifeforms — may exist on the Red Planet has driven numerous 
                space exploration missions and Mars is now one of the most explored planets in the solar system.
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-8">
                 Discovery: Known to the ancient Greeks and visible to the naked eye<br>
                Named for the Roman god of war<br>
                Diameter: 4,217 miles (6,787 km)<br>
                Orbit: 687 Earth days<br>
                Day: Just more than one Earth day (24 hours, 37 minutes)<br>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>